In [2]:
import pandas as pd

In [3]:
# Imports
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [4]:
# Setting variables to be used below
maxTweets = 500000

# Creating list to append tweet data to
tweets_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('horribleBosses since:2022-03-21 until:2022-03-26').get_items()):
    if i>maxTweets:
        break
    tweets_list.append([tweet.date, tweet.id, tweet.content, tweet.username])

In [5]:
 #Creating a dataframe from the tweets list above
#
df = pd.DataFrame(tweets_list, columns=['datetime', 'tweet_Id', 'text', 'Username'])

# Display first 5 entries from dataframe
df.head()

,datetime,tweet_Id,text,Username
0,2022-03-25 23:54:03+00:00,1507506125511573509,#HorribleBosses: Entertainers called out too h...,CelebrityGigMag
1,2022-03-25 23:47:40+00:00,1507504519713898500,#HorribleBosses VS #Annoyingemployees ..which ...,sheyyishay
2,2022-03-25 23:33:42+00:00,1507501004841009154,"Since Super Eagles didn’t impress us tonight, ...",heisrahman
3,2022-03-25 22:08:31+00:00,1507479568986353665,#ethereum #XMR #Bolckchain @HorribleBosses h...,Bakarehorlami
4,2022-03-25 22:00:21+00:00,1507477515757101057,AZOV is synonymous with #HorribleBosses https:...,MyHeartlandia

In [8]:
df.to_csv('tweets.csv')

In [9]:
data =pd.read_csv('tweets.csv')

In [14]:
data.shape

(14678, 5)

In [10]:
data.head()

,Unnamed: 0,datetime,tweet_Id,text,Username
0,0,2022-03-25 23:54:03+00:00,1507506125511573509,#HorribleBosses: Entertainers called out too h...,CelebrityGigMag
1,1,2022-03-25 23:47:40+00:00,1507504519713898500,#HorribleBosses VS #Annoyingemployees ..which ...,sheyyishay
2,2,2022-03-25 23:33:42+00:00,1507501004841009154,"Since Super Eagles didn’t impress us tonight, ...",heisrahman
3,3,2022-03-25 22:08:31+00:00,1507479568986353665,#ethereum #XMR #Bolckchain @HorribleBosses h...,Bakarehorlami
4,4,2022-03-25 22:00:21+00:00,1507477515757101057,AZOV is synonymous with #HorribleBosses https:...,MyHeartlandia

In [11]:
#checking for a retweet by checking if any tweet id is duplicated. 
data.tweet_Id.unique

<bound method Series.unique of 0        1507506125511573509
1        1507504519713898500
2        1507501004841009154
3        1507479568986353665
4        1507477515757101057
                ...
14673    1505971585882148870
14674    1505971524544700419
14675    1505971521826824196
14676    1505965343533109254
14677    1505699666201128960
Name: tweet_Id, Length: 14678, dtype: int64>

In [22]:
data.text[0:9]

0    #HorribleBosses: Entertainers called out too h...
1    #HorribleBosses VS #Annoyingemployees ..which ...
2    Since Super Eagles didn’t impress us tonight, ...
3    #ethereum #XMR  #Bolckchain  @HorribleBosses h...
4    AZOV is synonymous with #HorribleBosses https:...
5              #horriblebosses https://t.co/nicXngj8SH
6    So when are we having the Nigerian music indus...
7    Did they have a #BusinessProposal?\nTurn it do...
8    #HorribleBosses: I was once signed to a label ...
Name: text, dtype: object

In [27]:
import nltk
nltk.download('punkt')
nltk.download('wordnet')
from nltk import sent_tokenize, word_tokenize
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import stopwords
import pandas as pd
import numpy as np
import re  
import spacy
from spacy import displacy
from collections import Counter
import en_core_web_sm
nlp = en_core_web_sm.load()
#nlp = spacy.load('en_core_web_lg')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/davideffiong/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/davideffiong/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [28]:
data.head()

,Unnamed: 0,datetime,tweet_Id,text,Username
0,0,2022-03-25 23:54:03+00:00,1507506125511573509,#HorribleBosses: Entertainers called out too h...,CelebrityGigMag
1,1,2022-03-25 23:47:40+00:00,1507504519713898500,#HorribleBosses VS #Annoyingemployees ..which ...,sheyyishay
2,2,2022-03-25 23:33:42+00:00,1507501004841009154,"Since Super Eagles didn’t impress us tonight, ...",heisrahman
3,3,2022-03-25 22:08:31+00:00,1507479568986353665,#ethereum #XMR #Bolckchain @HorribleBosses h...,Bakarehorlami
4,4,2022-03-25 22:00:21+00:00,1507477515757101057,AZOV is synonymous with #HorribleBosses https:...,MyHeartlandia

In [36]:
dt=data.groupby('datetime').size()

In [41]:
dt

datetime
2022-03-21 00:15:49+00:00    1
2022-03-21 17:51:32+00:00    1
2022-03-21 18:16:05+00:00    2
2022-03-21 18:16:20+00:00    1
2022-03-21 18:16:24+00:00    1
                            ..
2022-03-25 22:00:21+00:00    1
2022-03-25 22:08:31+00:00    1
2022-03-25 23:33:42+00:00    1
2022-03-25 23:47:40+00:00    1
2022-03-25 23:54:03+00:00    1
Length: 12615, dtype: int64

In [40]:
import seaborn as sns
sns.lineplot( x = "datetime",
			y = "dt",
			data = data,
			err_style="bars");

ValueError: Could not interpret value `dt` for parameter `y`