In [2]:
import pandas as pd

In [3]:
# Imports
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [4]:
# Setting variables to be used below
maxTweets = 500000

# Creating list to append tweet data to
tweets_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('horribleBosses since:2022-03-21 until:2022-03-26').get_items()):
    if i>maxTweets:
        break
    tweets_list.append([tweet.date, tweet.id, tweet.content, tweet.username])

In [5]:
 #Creating a dataframe from the tweets list above
#
df = pd.DataFrame(tweets_list, columns=['datetime', 'tweet_Id', 'text', 'Username'])

# Display first 5 entries from dataframe
df.head()

,datetime,tweet_Id,text,Username
0,2022-03-25 23:54:03+00:00,1507506125511573509,#HorribleBosses: Entertainers called out too h...,CelebrityGigMag
1,2022-03-25 23:47:40+00:00,1507504519713898500,#HorribleBosses VS #Annoyingemployees ..which ...,sheyyishay
2,2022-03-25 23:33:42+00:00,1507501004841009154,"Since Super Eagles didn’t impress us tonight, ...",heisrahman
3,2022-03-25 22:08:31+00:00,1507479568986353665,#ethereum #XMR #Bolckchain @HorribleBosses h...,Bakarehorlami
4,2022-03-25 22:00:21+00:00,1507477515757101057,AZOV is synonymous with #HorribleBosses https:...,MyHeartlandia

In [8]:
df.to_csv('tweets.csv')

In [9]:
data =pd.read_csv('tweets.csv')

In [14]:
data.shape

(14678, 5)

In [10]:
data.head()

,Unnamed: 0,datetime,tweet_Id,text,Username
0,0,2022-03-25 23:54:03+00:00,1507506125511573509,#HorribleBosses: Entertainers called out too h...,CelebrityGigMag
1,1,2022-03-25 23:47:40+00:00,1507504519713898500,#HorribleBosses VS #Annoyingemployees ..which ...,sheyyishay
2,2,2022-03-25 23:33:42+00:00,1507501004841009154,"Since Super Eagles didn’t impress us tonight, ...",heisrahman
3,3,2022-03-25 22:08:31+00:00,1507479568986353665,#ethereum #XMR #Bolckchain @HorribleBosses h...,Bakarehorlami
4,4,2022-03-25 22:00:21+00:00,1507477515757101057,AZOV is synonymous with #HorribleBosses https:...,MyHeartlandia

In [11]:
#checking for a retweet by checking if any tweet id is duplicated. 
data.tweet_Id.unique

<bound method Series.unique of 0        1507506125511573509
1        1507504519713898500
2        1507501004841009154
3        1507479568986353665
4        1507477515757101057
                ...
14673    1505971585882148870
14674    1505971524544700419
14675    1505971521826824196
14676    1505965343533109254
14677    1505699666201128960
Name: tweet_Id, Length: 14678, dtype: int64>

In [17]:
data.Username

0        CelebrityGigMag
1             sheyyishay
2             heisrahman
3          Bakarehorlami
4          MyHeartlandia
              ...
14673          jerre_jay
14674         binitsa_de
14675      Adeoluwajoju_
14676           kosslaww
14677      forrestsaysit
Name: Username, Length: 14678, dtype: object